<h1>Albums</h1>
{{!-- get info form the API again --}}
<a href="/albums/:artistId">Album</a>

{{#each albums}}
<div class="album-card">
    <div class="album-img">
        <img src="{{images.[0].url}}">
    </div>

    <h2>{{name}}</h2>
    <a href="/tracks/{{id}}">tracks</a>
</div>
{{!-- now is the ID of the album and not the artist, because we are inside the albums --}}
{{/each}}