<div class="index-img">
    <div class="form-container">
        <form class="form" method="GET" action="/artist-search">
            <label>
                <input type="text" name="artistName">
            </label>
            <button class="index-button" type="submit">Search for artist</button>
        </form>
    </div>
</div>