<form method="GET" action="/artist-search">
    <label>
        Artist's name
        <input type="text" name="artistName">
    </label>
    <button type="submit">request for artist's name</button>
</form>